.weekend {
  opacity: 0.5;
}

/* 侧边栏 */
.side-bar {
  width: 160px;
  padding-top: 50px;
}

.group {

}
.group__content {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}
.group__event {
  height: 40px;
}


.calendar {
  background-color: #f8f8f8;
  margin-left: 10px;
  /* fix flex1的子元素内容过多时，被撑开导致 flex-1 失效 */
  /* https://juejin.cn/post/6974356682574921765 */
  width: 0;
}
/* 日历头部 */
.calendar__header {
  height: 50px;
  padding-top: 25px;
  border-bottom: 1px solid #efefef;
}
.calendar__header::-webkit-scrollbar {
  display: none;
}
.date {
  width: 108px;
  height: 25px;
  display: inline-block;
}
.date .date__month {
  bottom: 25px;
}

/* 日历内容区 */
.calendar__content {

}
.calendar__content__back {
  width: 108px;
  height: 100%;
  /* background-color: #f8f8f8; */
  display: inline-block;
}
.calendar__content__back.weekend {
  background-color: #ddd;
}
.calendar__group {
  border-bottom: 1px solid #f8f8f8;
}