html[data-theme="light"] {
  // back color
  --ls-primary-background-color: #f2f6ff;
  --ls-secondary-background-color: #c2d4fd;
  --ls-tertiary-background-color: #5146a0;
  --ls-quaternary-background-color: #fff;

  // text color
  --ls-title-text-color: #181a2b;
  --ls-text-color: #5f636c;
  --ls-description-text-color: #a7a7a7;
}