@tailwind components;
@tailwind utilities;

html, body {
  background-color: transparent;
}
#root {
  @apply w-screen h-screen;
}

.dark {
  filter: invert(1) hue-rotate(180deg);
}
.dark .mask {
  filter: invert(1) hue-rotate(180deg);
}
