.container {
  position: relative;
  width: 100%;
  height: 30px;
  background-color: bisque;
}
.indicator {
  position: absolute;
  box-sizing: border-box;
  height: 100%;
  border: red;
  background: rgba(0, 0, 0, .5);
}